<div class="container">
  <div class="options-label">
    <h4>Manage {{ user.getFirstName() }}'s roles</h4>
  </div>
  <mat-form-field>
    <mat-label>User</mat-label>
    <textarea matInput disabled rows="1" class="user">{{
      user.getName()
    }}</textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Project</mat-label>
    <textarea matInput disabled rows="1" class="project">{{
      project.getTitle()
    }}</textarea>
  </mat-form-field>
  <mat-form-field appearance="fill" class="roles-form-field">
    <mat-label>Roles</mat-label>
    <mat-select
      [formControl]="selectedRolesList"
      [compareWith]="compareRoles"
      multiple
    >
      <mat-select-trigger>
        {{
          selectedRolesList.value && selectedRolesList.value.length
            ? selectedRolesList.value[0].getName()
            : ""
        }}
        <span
          *ngIf="selectedRolesList.value?.length > 1"
          class="additional-selection"
        >
          (+{{ selectedRolesList.value.length - 1 }}
          {{ selectedRolesList.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let role of allOptions"
        [value]="role"
        [ngClass]="'not-a-dropdown-option'"
        >{{ role.getName() }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <button
    type="button"
    class="btn btn-submit btn-create"
    (click)="saveModifications()"
  >
    Save
  </button>
</div>
