@import "../../../../../assets/scss/core/variables/_colors.scss";

.btn-create {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: $light-blue-800;
  font-weight: 700;
}

.btn-link {
  float: right;
}

::ng-deep .mat-option.role-option .mat-pseudo-checkbox {
  display: none;
}

textarea {
  resize: none !important;
}

.options-label {
  margin-bottom: 2rem;
}

.text-button {
  height: 3rem;
  font-weight: 600;
  width: 100%;
}

.new-button {
  color: rgb(5, 61, 71);
}
