<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="container">
      <div class="headline">
        <h3>{{ action.charAt(0).toUpperCase() + action.slice(1) }} project</h3>
      </div>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Project title</mat-label>
        <input matInput maxlength="40" [(ngModel)]="title"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Summary of the project</mat-label>
        <textarea matInput maxlength="80" [(ngModel)]="summary">{{summary}}</textarea>
      </mat-form-field>
      <mat-form-field
        appearance="legacy"
        *ngFor="let mail of mails; let i = index"
      >
        <mat-label>Add collaborator's mail</mat-label>
        <input matInput [(ngModel)]="mail.address" name="mail_{{ i }}" />
      </mat-form-field>
      <br /><br />
      <div class="buttons-bottom">
        <button
          type="button"
          class="btn btn-danger btn-remove-mail"
          (click)="removeLastMail()"
        >
          <mat-icon matSuffix>remove_circle_outline</mat-icon>
        </button>
        <button
          type="button"
          class="btn btn-info btn-add-mail"
          (click)="addMail()"
        >
          <mat-icon matSuffix>person_add</mat-icon>
        </button>
      </div>
      <button type="button" class="btn btn-submit btn-create" (click)="save()">
        {{ action }}
      </button>
    </div>
  </div>
</div>
