<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <mat-card-title> {{ project.title }}</mat-card-title>
    <mat-card-subtitle> {{ project.summary }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <div class="actions-header">QUICK LINKS</div>
    <div class="action">
      <button
        mat-button
        [routerLink]="['/projects', project.id]"
        class="button-text"
      >
        Urgent issues
      </button>
      <div class="dot-container">
        <span class="dot">{{ project.urgentIssues }}</span>
      </div>
    </div>
    <div class="action">
      <button
        [routerLink]="['/projects', project.id]"
        mat-button
        class="button-text"
      >
        Assigned to me
      </button>
      <div class="dot-container">
        <span class="dot">{{ project.assignedToMe }}</span>
      </div>
    </div>
    <div class="action">
      <button
        mat-button
        [routerLink]="['/projects', project.id]"
        class="button-text"
      >
        All open
      </button>
      <div class="dot-container">
        <span class="dot">{{ project.allOpen }}</span>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
