<div class="container">
  <div class="options-label">
    <h3>Edit role</h3>
  </div>
  <mat-form-field>
    <mat-label>Role name</mat-label>
    <textarea matInput placeholder="Ex. Developer..." rows="1" maxlength="40">{{
      role.getName()
    }}</textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Defined on project</mat-label>
    <textarea matInput disabled rows="1" class="project">{{
      project.title
    }}</textarea>
  </mat-form-field>
  <mat-form-field appearance="fill" class="permissions-form-field">
    <mat-label>Permissions</mat-label>
    <mat-select
      [formControl]="selectedPermissionsList"
      [compareWith]="comparePermissions"
      multiple
    >
      <mat-select-trigger>
        {{
          selectedPermissionsList.value && selectedPermissionsList.value.length
            ? selectedPermissionsList.value[0]
            : ""
        }}
        <span
          *ngIf="selectedPermissionsList.value?.length > 1"
          class="additional-selection"
        >
          (+{{ selectedPermissionsList.value.length - 1 }}
          {{
            selectedPermissionsList.value?.length === 2 ? "other" : "others"
          }})
        </span>
      </mat-select-trigger>
      <mat-option
        *ngFor="let option of allOptions"
        [value]="option"
        [ngClass]="'not-a-dropdown-option'"
        >{{ option }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <button type="button" class="btn btn-submit btn-create" (click)="saveRole()">
    Save
  </button>
</div>
