<div class="container">
  <div class="left-container noselect">
    <mat-list class="make-scrollable">
      <app-issue-list-items [issues]="issues"></app-issue-list-items>
    </mat-list>
  </div>
  <div class="right-container">
    <div class="primary-right">
      <div class="summary">{{ displayedIssue.summary }}</div>
      <div class="description">{{ displayedIssue.description }}</div>
    </div>
    <div class="secondary-right">
      <div class="reporter">{{ displayedIssue.reporter }}</div>
      <div class="assignees">{{ displayedIssue.assignees }}</div>
      <div class="action"><p>dropdown here</p></div>
      <div class="priority">
        <span class="mr-2">{{ displayedIssue.priority }}%</span>
        <div>
          <div class="progress">
            <div
              class="progress-bar {{
                displayedIssue.priority >= 80
                  ? 'bg-danger'
                  : displayedIssue.priority >= 60
                  ? 'bg-warning'
                  : displayedIssue.priority >= 40
                  ? 'bg-info'
                  : 'bg-success'
              }}"
              role="progressbar"
              attr.aria-valuenow="{{ displayedIssue.priority }}"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: {{ displayedIssue.priority }}%"
            ></div>
          </div>
        </div>
        <!-- <div>
          <div class="progress">
            <div
              class="progress-bar {{
                displayedIssue.priority >= 80
                  ? 'bg-danger'
                  : issue.priority >= 60
                  ? 'bg-warning'
                  : issue.priority >= 40
                  ? 'bg-info'
                  : 'bg-success'
              }}"
              role="progressbar"
              attr.aria-valuenow="{{ displayedIssue.priority }}"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: {{ displayedIssue.priority }}%"
            ></div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- <div class="primary-right">
      <div class="summary">{{ displayedIssue.summary }}</div>
      <div class="description">{{ displayedIssue.description }}</div>
    </div>
    <div class="secondary-right">
      <div class="summary">{{ displayedIssue.reporter }}</div>
      <div class="description">{{ displayedIssue.assignees }}</div>
      <div class="action"><p>dropdown here</p></div>
      <div class="priority">
        <div class="priority">
          <span class="mr-2">{{ displayedIssue.priority }}%</span>
          <div>
            <div class="progress">
              <div
                class="progress-bar {{
                  displayedIssue.priority >= 80
                    ? 'bg-danger'
                    : issue.priority >= 60
                    ? 'bg-warning'
                    : issue.priority >= 40
                    ? 'bg-info'
                    : 'bg-success'
                }}"
                role="progressbar"
                attr.aria-valuenow="{{ displayedIssue.priority }}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{ displayedIssue.priority }}%"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
