.container {
  height: 800px;
  margin-top: 10rem;
  background-color: white;
  width: 100%;
  max-width: 1600px !important;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 1%;
  overflow: hidden;
}

.left-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-basis: 20rem;
  flex-grow: 0;
  margin: 10px;
  align-content: stretch;
  min-width: 7rem;
}

.right-container {
  background-color: white;
  flex: 1;
  margin: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

mat-list.make-scrollable {
  overflow-y: scroll;
}
