.text-button {
  height: 3rem;
  font-weight: 600;
  width: 9rem;
  margin-left: 10px;
}

.new-button {
  color: rgb(5, 61, 71);
}

.remove-button {
  color: rgb(255, 255, 255);
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .remove-button {
    display: none;
  }
}

@media (max-width: 370px) {
  .new-button {
    width: 100%;
    height: auto;
    white-space: normal;
  }

  .mat-button {
    white-space: normal;
  }
}

@media (min-width: 700px) {
  .buttons-container {
    margin-left: auto;
    flex-direction: row;
  }
}
