::ng-deep .mat-select-panel {
  max-height: none !important;
}

.mat-column-select,
.mat-column.project,
.mat-column-summary,
.mat-column-reporter,
.mat-column-assignees,
.mat-column-status,
.mat-column-created,
.mat-column-priority,
.mat-column-edit,
.mat-column-remove {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-select {
  flex: 10 3 5% !important;
}

.mat-column-project {
  flex: 20 3 10% !important;
}

.mat-column-summary {
  flex: 40 3 25% !important;
}

.mat-column-reporter {
  flex: 10 3 15% !important;
}

.mat-column-assignees {
  flex: 20 3 15% !important;
}

.mat-column-status {
  flex: 30 3 15% !important;
}

.mat-column-created {
  flex: 20 3 10% !important;
}

.mat-column-priority {
  flex: 30 3 15%;
  padding-left: 0 !important;
}

.mat-column-edit {
  flex: 0 0 3% !important;
}

.mat-column-remove {
  flex: 0 0 6% !important;
}

.status-cell {
  color: white;
  font-weight: bold;
  border-radius: 0px;
  height: 1.5rem;
  vertical-align: middle;
  text-align: center;
}

:host::ng-deep .status-cell.dropdown-cell {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 35px !important;
  line-height: 7rem;
}

::ng-deep .status-dropdown.mat-option {
  line-height: 2em !important;
}

.status-cell.status-CANCELED,
.status-cell.status-PENDING,
.status-cell.status-IN_PROGRESS,
.status-cell.status-IN_REVIEW,
.status-cell.status-RESOLVED,
.status-cell.status-DONE,
.status-cell.status-TO_DO {
  border-radius: 30px;
}

// ::ng-deep .mat-select {
//   width: 100%;
// }

:host::ng-deep .mat-select-value-text {
  color: rgb(255, 255, 255);
}

::ng-deep .mat-select {
  border-radius: 0px solid transparent;
}

::ng-deep .mat-select-value.status-CANCELED {
  background-color: rgb(39, 105, 23);
}

::ng-deep .mat-select-value.status-PENDING {
  background-color: rgb(255, 190, 11);
}

::ng-deep .mat-select-value.status-IN_PROGRESS {
  background-color: rgb(0, 117, 126);
}

::ng-deep .mat-select-value.status-RESOLVED {
  background-color: rgb(45, 136, 255);
}

::ng-deep .mat-select-value.status-IN_REVIEW {
  background-color: rgb(0, 52, 150);
}

::ng-deep .mat-select-value.status-TO_DO {
  background-color: rgb(255, 0, 170);
}

::ng-deep .mat-select-value.status-DONE {
  background-color: rgb(97, 97, 85);
}

.status-dropdown {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 100%;
}

.status-PENDING {
  background-color: rgb(255, 190, 11);
}

.status-CANCELED {
  background-color: rgb(39, 105, 23);
}

.status-IN_PROGRESS {
  background-color: rgb(0, 117, 126);
}

.status-RESOLVED {
  background-color: rgb(45, 136, 255);
}

.status-IN_REVIEW {
  background-color: rgb(0, 52, 150);
}

.status-TO_DO {
  background-color: rgb(255, 0, 170);
}

.status-DONE {
  background-color: rgb(97, 97, 85);
}

.progress-bar {
  box-shadow: none;
  border-radius: 0;
  height: auto;
}

@media (max-width: 768px) {
  .mobile-label.status-label {
    width: 10rem;
  }
}

@media (max-width: 500px) {
  .mat-cell.mat-column-reporter {
    display: inline;
  }
}

@media (max-width: 320px) {
  .mobile-label.status-label {
    width: 5rem;
  }

  .mat-cell.mat-column-status {
    display: inline;
  }
}
