.headline {
  text-align: center;
}

.container {
  background-color: white;
  border-radius: 6px;
  height: fit-content;
  overflow: auto;
}

/* @media (min-width: 1000px) {
  .container {
    max-width: 400px;
    position: absolute;
    left: 30%;
  }
} */

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(8, 147, 172) !important;
}

.btn-create {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #03a9be;
  font-weight: 700;
}

.selection-icon {
  position: relative;
  top: 6px;
  margin-right: 16px;
}

.customSelectMenu .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0 !important;
}
