<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-darker-cyan">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Issues:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link active"
                      href="#bugs"
                      (click)="selectBugs()"
                      data-toggle="tab"
                    >
                      <i class="material-icons">bug_report</i> Bugs
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link"
                      href="#tasks"
                      (click)="selectTasks()"
                      data-toggle="tab"
                    >
                      <i class="material-icons">add_task</i> Tasks
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <div class="buttons-container">
                    <li>
                      <button
                        mat-raised-button
                        class="text-button new-button"
                        [routerLink]="['create']"
                      >
                        Create issue
                      </button>
                    </li>
                    <li>
                      <button
                        mat-raised-button
                        color="warn"
                        (click)="removeSelectedIssues()"
                        class="text-button remove-button"
                      >
                        Remove
                      </button>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="bugs">
                <app-issues-table
                  [data]="bugs"
                  #bugsTable
                  [displayedColumns]="columnsToDisplayForIssues"
                  [statusList]="statusList"
                ></app-issues-table>
              </div>

              <div class="tab-pane" id="tasks">
                <app-issues-table
                  [data]="tasks"
                  #tasksTable
                  [displayedColumns]="columnsToDisplayForIssues"
                  [statusList]="statusList"
                ></app-issues-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
