.container {
  overflow-y: auto;
  height: 100%;
}

.main-container {
  display: flex;
  /* overflow-y: scroll; */
}

:host::ng-deep .status-cell.dropdown-cell {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 35px !important;
  line-height: 7rem;
}

/* :host::ng-deep .mat-select-panel {
  max-width: 100px;
} */

::ng-deep .status-dropdown.mat-option {
  line-height: 2em !important;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .secondary-right {
    margin-left: 0 !important;
  }
}

.summary {
  font-weight: 900;
  font-size: xx-large;
}

.issue-id {
  margin-top: 1rem;
}

.description {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-weight: 600;
  color: black;
  font-size: larger;
}

.primary-right {
  text-align: justify;
  text-justify: inter-word;
  flex: 2.5;
}

.secondary-right {
  flex: 1;
  margin-left: 4rem;
}

.assignees {
  margin-top: 1rem;
}

.assignees-row {
  display: flex;
}

.edit-assignees {
  margin-left: auto;
}

.action {
  margin-top: 1rem;
}

.priority {
  margin-top: 1rem;
}

.secondary-right-subtitle {
  font-weight: 900;
}

.action-dropdown {
  font-weight: bold;
  width: 100px;
}

::ng-deep .mat-select-arrow {
  border-left: 15px solid transparent !important;
  border-right: none !important;
  border-top: 15px solid transparent !important;
  border-image-repeat: stretch !important;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(8, 123, 131, 0.541);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
