<div class="main-container">
  <div class="primary-right">
    <div class="summary">{{ displayedIssue.summary }}</div>
    <div class="issue-id">{{ displayedIssue.id }}</div>
    <div class="description">{{ displayedIssue.description }}</div>
  </div>
  <div class="secondary-right">
    <div class="reporter">
      <div class="secondary-right-subtitle">Reporter</div>
      <a href="javascript:void(0)" class="avatar avatar-sm">
        <img
          alt="Image placeholder"
          src="/assets/img/{{ displayedIssue.reporter.getId() }}.jpg"
          class="rounded-circle"
        />
      </a>
    </div>
    <div class="assignees">
      <div class="secondary-right-subtitle">Assignees</div>
      <div class="avatar-group" data-toggle="tooltip">
        <a
          *ngFor="let assignee of displayedIssue.assignees"
          href="javascript:void(0)"
          class="avatar avatar-sm"
        >
          <img
            alt="Image placeholder"
            src="/assets/img/{{ assignee.getId() }}.jpg"
            class="rounded-circle"
          />
        </a>
      </div>
    </div>
    <div class="action">
      <div class="secondary-right-subtitle">Status</div>
      <div class="action-dropdown">
        <mat-select
          [(ngModel)]="displayedIssue.status"
          class="status-{{ displayedIssue.status }}"
        >
          <mat-option
            *ngFor="let status of statusList"
            [value]="status"
            class="status-dropdown not-empty-select"
          >
            <span class="status-cell status-{{ status }}">{{ status }}</span>
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="priority">
      <div class="secondary-right-subtitle">Priority</div>
      <span class="mr-2">{{ displayedIssue.priority }}%</span>
      <div>
        <div class="progress">
          <div
            class="progress-bar {{
              displayedIssue.priority >= 80
                ? 'bg-danger'
                : displayedIssue.priority >= 60
                ? 'bg-warning'
                : displayedIssue.priority >= 40
                ? 'bg-info'
                : 'bg-success'
            }}"
            role="progressbar"
            attr.aria-valuenow="{{ displayedIssue.priority }}"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: {{ displayedIssue.priority }}%"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
