<div class="container">
  <div class="main-container">
    <div class="primary-right">
      <div class="summary">{{ selectedIssue.summary }}</div>
      <div class="issue-id">{{ selectedIssue.id }}</div>
      <div class="description">{{ selectedIssue.description }}</div>
    </div>
    <div class="secondary-right">
      <div class="reporter">
        <div class="secondary-right-subtitle">Reporter</div>
        <a href="javascript:void(0)" class="avatar avatar-sm">
          <img
            alt="Image placeholder"
            src="/assets/img/{{ selectedIssue.reporter.getId() }}.jpg"
            class="rounded-circle"
          />
        </a>
      </div>
      <div class="assignees">
        <div class="secondary-right-subtitle">Assignees</div>
        <div class="assignees-row">
          <div class="avatar-group" data-toggle="tooltip">
            <a
              *ngFor="let assignee of selectedIssue.assignees"
              href="javascript:void(0)"
              class="avatar avatar-sm"
            >
              <img
                alt="Image placeholder"
                src="/assets/img/{{ assignee.getId() }}.jpg"
                class="rounded-circle"
              />
            </a>
          </div>
          <div class="edit-assignees">
            <button
              mat-raised-button
              type="button"
              matTooltip="Edit Asignees"
              [matTooltipPosition]="'above'"
              class="btn btn-primary btn-link btn-sm btn-just-icon"
              (click)="onEditAssigneesClick()"
            >
              <i class="material-icons">edit</i>
            </button>
          </div>
        </div>
      </div>
      <div class="action">
        <div class="secondary-right-subtitle">Status</div>
        <div class="">
          <mat-select
            [(ngModel)]="selectedIssue.status"
            class="status-{{
              selectedIssue.status
            }} status-cell action-dropdown"
          >
            <mat-option
              *ngFor="let status of statusList"
              [value]="status"
              class="status-dropdown not-empty-select"
            >
              <div class="status-cell status-{{ status }}">
                {{ status }}
              </div>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="priority">
        <div class="secondary-right-subtitle">Priority</div>
        <span class="mr-2">{{ selectedIssue.priority }}%</span>
        <div>
          <div class="progress">
            <div
              class="progress-bar {{
                selectedIssue.priority >= 80
                  ? 'bg-danger'
                  : selectedIssue.priority >= 60
                  ? 'bg-warning'
                  : selectedIssue.priority >= 40
                  ? 'bg-info'
                  : 'bg-success'
              }}"
              role="progressbar"
              attr.aria-valuenow="{{ selectedIssue.priority }}"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: {{ selectedIssue.priority }}%"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
