<div *ngIf="data">
  <mat-table [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="mat-column-select">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="only-desktop mat-column-select">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="project">
      <mat-header-cell
        fxLayoutAlign="start center"
        *matHeaderCellDef
        class="mat-column-project"
      >
        Project
      </mat-header-cell>
      <mat-cell
        fxLayoutAlign="start center"
        *matCellDef="let element"
        class="mat-column-project"
      >
        <span class="mobile-label">Project:</span>

        <span class="table-cell">
          <span class="table-cell"
            ><a [routerLink]="['/projects', element.project.getId()]">{{
              element.project.getTitle()
            }}</a></span
          >
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="summary">
      <mat-header-cell
        fxLayoutAlign="start center"
        *matHeaderCellDef
        class="mat-column-summary"
      >
        Summary
      </mat-header-cell>
      <mat-cell
        fxLayoutAlign="start center"
        *matCellDef="let element"
        mat-cell
        class="mat-column-summary"
      >
        <span class="mobile-label">Summary:</span>

        <span class="table-cell"
          ><a
            [routerLink]="[
              '/projects',
              element.project.getId(),
              'issues',
              element.id
            ]"
            >{{ element.summary.substring(0, 30) }}</a
          ></span
        >
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reporter">
      <mat-header-cell
        fxLayoutAlign="start center"
        *matHeaderCellDef
        class="mat-column-reporter"
      >
        Reporter
      </mat-header-cell>
      <mat-cell
        fxLayoutAlign="start center"
        *matCellDef="let element"
        class="mat-column-reporter"
      >
        <span class="mobile-label">Reporter:</span>

        <span class="table-cell"
          ><a href="javascript:void(0)" class="avatar avatar-sm">
            <img
              alt=""
              [src]="'http://localhost:8081/api/users/' + element.reporter + '/picture' | secure | async"
              title="{{element.reporter}}"
              class="rounded-circle"
            /> 
            </a
        ></span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="assignees">
      <mat-header-cell
        fxLayoutAlign="start center"
        *matHeaderCellDef
        class="mat-column-assignees"
      >
        Assignees
      </mat-header-cell>
      <mat-cell
        fxLayoutAlign="start center"
        *matCellDef="let element"
        class="mat-column-assignees"
      >
        <div class="avatar-group" data-toggle="tooltip">
          <span class="mobile-label">Assignees:</span>

          <span class="table-cell">
            <a
              *ngFor="let assignee of element.assignees"
              href="javascript:void(0)"
              class="avatar avatar-sm"
            >
              <img
                alt=""
                [src]="'http://localhost:8081/api/users/' + assignee + '/picture' | secure | async"
                class="rounded-circle"
              />
            </a>
          </span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell
        fxLayoutAlign="start center"
        *matHeaderCellDef
        class="mat-column-status"
      >
        Status
      </mat-header-cell>
      <mat-cell
        fxLayoutAlign="start center"
        *matCellDef="let element"
        class="mat-column-status"
      >
        <span class="mobile-label status-label">Status:</span>

        <mat-select
          [(ngModel)]="element.status"
          disableOptionCentering
          class="status-{{ element.status }} status-cell"
        >
          <mat-option
            *ngFor="let status of statusList"
            [value]="status"
            class="status-dropdown not-empty-select"
          >
            <div class="status-cell dropdown-cell status-{{ status }}">
              {{ status }}
            </div>
          </mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="created">
      <mat-header-cell
        fxLayoutAlign="start center"
        *matHeaderCellDef
        class="mat-column-created"
      >
        Created
      </mat-header-cell>
      <mat-cell
        fxLayoutAlign="start center"
        *matCellDef="let element"
        class="mat-column-created"
      >
        <span class="mobile-label">Created:</span>

        <span class="table-cell">{{ element.created | date: "medium" }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
      <mat-header-cell
        fxLayoutAlign="start center"
        *matHeaderCellDef
        class="mat-column-priority"
      >
        Priority
      </mat-header-cell>
      <td
        fxLayoutAlign="start center"
        mat-cell
        *matCellDef="let element"
        class="mat-column-priority only-desktop"
      >
        <div class="d-flex align-items-center">
          <span class="mobile-label">Priority:</span>

          <span class="mr-2">{{ element.priority }}%</span>
          <div>
            <span class="progress">
              <div
                class="progress-bar {{
                  element.priority >= 80
                    ? 'bg-danger'
                    : element.priority >= 60
                    ? 'bg-warning'
                    : element.priority >= 40
                    ? 'bg-info'
                    : 'bg-success'
                }}"
                role="progressbar"
                attr.aria-valuenow="{{ element.priority }}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{ element.priority }}%"
              ></div>
            </span>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell
        fxLayoutAlign="start center"
        *matHeaderCellDef
        class="mat-column-edit"
      ></mat-header-cell>
      <mat-cell
        fxLayoutAlign="start center"
        *matCellDef="let element"
        class="mat-column-edit only-desktop"
      >
        <button
          mat-raised-button
          type="button"
          matTooltip="Edit Issue"
          [matTooltipPosition]="'above'"
          class="btn btn-primary btn-link btn-sm btn-just-icon"
        >
          <i class="material-icons">edit</i>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove">
      <mat-header-cell
        fxLayoutAlign="start center"
        *matHeaderCellDef
        class="mat-column-remove"
      ></mat-header-cell>
      <mat-cell
        fxLayoutAlign="start center"
        *matCellDef="let element"
        class="mat-column-remove only-desktop"
      >
        <button
          mat-raised-button
          type="button"
          matTooltip="Remove"
          [matTooltipPosition]="'above'"
          (click)="removeIssue(element)"
          class="btn btn-danger btn-link btn-sm btn-just-icon"
        >
          <i class="material-icons">close</i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
