<div class="logo">
  <a class="simple-text">
    <div class="logo-img">
      <img src="https://user-images.githubusercontent.com/37018010/95138647-6742da00-0773-11eb-8b57-e4214a556acb.png" />
    </div>
    <div class="logo-text">Issue Tracker</div>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{ menuItem.icon }}</i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
