<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-darker-cyan">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Projects:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link active"
                      href="#createdbyme"
                      data-toggle="tab"
                      (click)="handleCreatedByMeClick()"
                    >
                      <i class="material-icons">api</i> Created by me
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link"
                      href="#collabs"
                      data-toggle="tab"
                      (click)="handleInCollaborationClick()"
                    >
                      <i class="material-icons">supervised_user_circle</i>
                      In collaboration
                    </a>
                  </li>
                  <div class="buttons-container">
                    <li>
                      <button
                        mat-raised-button
                        class="text-button new-button"
                        [routerLink]="['create']"
                      >
                        New project
                      </button>
                    </li>
                    <li>
                      <button
                        mat-raised-button
                        color="warn"
                        class="text-button remove-button"
                        disabled="{{ !isRemoveButtonEnabled }}"
                      >
                        Remove
                      </button>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="createdbyme">
                <app-projects-table
                  [data]="projectsCreatedByMe"
                  [displayedColumns]="columnsToDisplayForMyProjects"
                ></app-projects-table>
              </div>

              <div class="tab-pane" id="collabs">
                <app-projects-table
                  [data]="collaborations"
                  [displayedColumns]="columnsToDisplayForCollaborations"
                ></app-projects-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
