@import "../../../../../assets/scss/core/variables/_colors.scss";

textarea {
  resize: none !important;
}

.options-label {
  margin-bottom: 2rem;
}

.btn-create {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: $light-blue-800;
  font-weight: 700;
}
