<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <mat-card-title> {{ project.getTitle() }}</mat-card-title>
    <mat-card-subtitle> {{ project.getSummary() }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <div class="action">
      <button
        mat-button
        [routerLink]="['/projects', project.getId()]"
        [queryParams]="{ sortBy: 'mine' }"
        disabled="{{ !project.assignedToMe }}"
        class="button-text"
      >
        Assigned to me
      </button>
      <div
        class="dot-container {{ !project.assignedToMe ? 'disabled-div' : '' }}"
      >
        <span class="dot {{ !project.assignedToMe ? 'disabled-div' : '' }}">{{
          project.assignedToMe
        }}</span>
      </div>
    </div>
    <div class="action">
      <button
        mat-button
        [routerLink]="['/projects', project.getId()]"
        [queryParams]="{ sortBy: 'open' }"
        disabled="{{ !project.allOpen }}"
        class="button-text"
      >
        All open
      </button>
      <div class="dot-container {{ !project.allOpen ? 'disabled-div' : '' }}">
        <span class="dot {{ !project.allOpen ? 'disabled-div' : '' }}">{{
          project.allOpen
        }}</span>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
