.handshake-image {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.container-invite {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.mail-inputs {
  margin-top: 20px;
  justify-content: space-between;
  height: 20px;
}

.buttons-buttom {
  display: flex;
  margin-top: 40px;
  float: left;
}

.right-side {
  margin-top: 30px;
}

.center-text {
  text-align: center;
}

.right-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.button-next {
  margin-top: 60px;
  width: 50px;
}
