mat-list.make-scrollable {
  overflow-y: scroll;
}

.mat-list-item {
  font-size: small;
  height: auto !important;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.mat-list-item.selected {
  background-color: rgb(150, 207, 245);
}

@media (max-width: 576px) {
  ::ng-deep .mat-list-item-content {
    padding: 0 !important;
  }
}

::ng-deep .mat-list-item-content {
  width: 100% !important;
}

.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar-container {
  display: flex;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.avatar.avatar-sm {
  overflow: hidden !important;
  margin-left: auto;
  order: 2;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.progress-bar {
  box-shadow: none;
  border-radius: 0;
  height: auto;
}
