<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-darker-cyan">
            <h4 class="card-title">
              {{ action === "edit" ? "Edit " : "" }}Profile
            </h4>
            <p class="card-category">
              {{ action === "edit" ? "Complete your " : "" }}profile
            </p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email address" type="email" />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fist Name" type="text" />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>About Me</label>
                  <mat-form-field class="example-full-width">
                    <textarea
                      matInput
                      placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-info pull-right"
              >
                Password reset
              </button>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-info pull-right"
              >
                Update Profile
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar profile-picture">
            <a href="javascript:void(0)">
              <img
                class="img"
                src="https://user-images.githubusercontent.com/37018010/95596121-aca62680-0a55-11eb-802f-0a44c8700ee0.jpg"
              />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{ title }}</h6>
            <h4 class="card-title">{{ name }}</h4>
            <p class="card-description">
              {{ description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
