<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 project-cards-wrapper">
        <h3>Recent projects</h3>
        <div class="card container-project-cards">
          <div *ngFor="let project of projectCards" class="project-card">
            <app-project-card
              class="project-card"
              [project]="project"
            ></app-project-card>
          </div>
          <div *ngIf="projectCards && projectCards.length != 0">
          </div>
          <!-- <div *ngIf="projectCards && projectCards.length == 0">
            There are no projects to display
          </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-darker-cyan">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Issues:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link active"
                      href="#bugs"
                      data-toggle="tab"
                    >
                      <i class="material-icons">bug_report</i> Bugs
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link"
                      href="#tasks"
                      data-toggle="tab"
                    >
                      <i class="material-icons">add_task</i> Tasks
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="tab-content">
              <div *ngIf="bugs" class="tab-pane active" id="bugs">
                <app-issues-table
                  [data]="bugs"
                  [displayedColumns]="columnsToDisplayForIssues"
                  [statusList]="statusDropdownOptions"
                ></app-issues-table>
              </div>

              <div *ngIf="tasks" class="tab-pane" id="tasks">
                <app-issues-table
                  [data]="tasks"
                  [displayedColumns]="columnsToDisplayForIssues"
                  [statusList]="statusDropdownOptions"
                ></app-issues-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
