.top-container {
  margin-top: 5rem;
  position: relative;
}

.container-invite {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@media (min-width: 400px) {
  .left-side {
    margin-top: 12rem !important;
  }
}

.center-text {
  text-align: center;
}
