.mat-column-select,
.mat-column-title,
.mat-column-summary,
.mat-column-owner,
.mat-column-collaborators,
.mat-column-created,
.mat-column-edit,
.mat-column-remove {
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

.mat-column-select {
  flex: 10 3 5% !important;
}

.mat-column-title {
  flex: 20 3 5% !important;
}

.mat-column-summary {
  flex: 40 3 15% !important;
}

.mat-column-owner {
  flex: 10 3 5% !important;
}

.mat-column-collaborators {
  flex: 20 3 15% !important;
}

.mat-column-created {
  flex: 20 3 10% !important;
}

.mat-column-edit {
  flex: 0 0 3% !important;
}

.mat-column-remove {
  flex: 0 0 3% !important;
}
