::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox .mat-checkbox-frame,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #01bdd6 !important;
  transform: scale(1);
}

.mat-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  vertical-align: middle;
}

.mat-header-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.table-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-table {
  display: table;
}

.mat-column-assignees {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 20 3 5% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.avatar-group {
  .avatar {
    position: relative;
    z-index: 2;
    border: 2px solid;

    &:hover {
      z-index: 3;
    }
  }

  .avatar + .avatar {
    margin-left: -1rem;
  }
}

.mat-column-status {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 10 3 5% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-created {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 8 3 5% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-edit {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 1% !important;
  width: 1% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-remove {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 1% !important;
  width: 1% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.status-cell {
  color: white;
  font-weight: bold;
  border-radius: 0px;
}

.status-cell.status-CANCELED,
.status-cell.status-PENDING,
.status-cell.status-IN_PROGRESS,
.status-cell.status-IN_REVIEW,
.status-cell.status-RESOLVED,
.status-cell.status-DONE,
.status-cell.status-TO_DO {
  border-radius: 30px;
}

::ng-deep .mat-select-value-text {
  color: rgb(255, 255, 255);
}

::ng-deep .mat-select {
  border-radius: 0px solid transparent;
}

td.mat-cell {
  border-top-style: none;
  border-bottom-style: none;
}

::ng-deep .mat-select-value.status-PENDING {
  background-color: rgb(255, 190, 11);
}

::ng-deep .mat-select-value.status-CANCELED {
  background-color: rgb(39, 105, 23);
}

::ng-deep .mat-select-value.status-PENDING {
  background-color: rgb(255, 190, 11);
}

::ng-deep .mat-select-value.status-IN_PROGRESS {
  background-color: rgb(0, 117, 126);
}

::ng-deep .mat-select-value.status-RESOLVED {
  background-color: rgb(45, 136, 255);
}

::ng-deep .mat-select-value.status-IN_REVIEW {
  background-color: rgb(0, 52, 150);
}

::ng-deep .mat-select-value.status-TO_DO {
  background-color: rgb(255, 0, 170);
}

::ng-deep .mat-select-value.status-DONE {
  background-color: rgb(97, 97, 85);
}

.status-dropdown {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.status-PENDING {
  background-color: rgb(255, 190, 11);
}

.status-CANCELED {
  background-color: rgb(39, 105, 23);
}

.status-IN_PROGRESS {
  background-color: rgb(0, 117, 126);
}

.status-RESOLVED {
  background-color: rgb(45, 136, 255);
}

.status-IN_REVIEW {
  background-color: rgb(0, 52, 150);
}

.status-TO_DO {
  background-color: rgb(255, 0, 170);
}

.status-DONE {
  background-color: rgb(97, 97, 85);
}

.progress-bar {
  box-shadow: none;
  border-radius: 0;
  height: auto;
}
