<div class="top-container">
  <div class="container-invite center-text">
    <div class="left-side">
      <div class="handshake">
        <img src="https://user-images.githubusercontent.com/37018010/97801518-03aeae00-1c46-11eb-978c-3d92dbf92513.png" class="handshake-image" />
      </div>
      <div>
        <h2>Great projects are made by great people</h2>
        <h4>
          Invite others to join your team and assign them later on to different
          tasks.
        </h4>
      </div>
    </div>
    <div class="right-side">
      <div class="right-form">
        <app-project-details [action]="'create'"></app-project-details>
      </div>
    </div>
  </div>
</div>
